<ion-row>
  <ion-col>
      <ngx-datatable
      class="material "
      style="top: 52px"
      [columnMode]="ColumnMode.force"
      headerHeight="50"
      footerHeight="0"
      [rowHeight]="50"
      [scrollbarV]="true"
      [scrollbarH]="true"
      [rows]="rows"
    >
      <ngx-datatable-column name="name" [width]="80"></ngx-datatable-column>
      <ngx-datatable-column name="Gender"></ngx-datatable-column>
      <ngx-datatable-column name="age"></ngx-datatable-column>
      <ngx-datatable-column name="address"></ngx-datatable-column>
    </ngx-datatable>
    
  </ion-col>
</ion-row>
